.ChannelList {
  background: #443642;
  height: 100vh;
  padding: 20px;
}

.ChannelList .header {
  color: white;
  font-size: 1rem;
  margin-bottom: 20px;
}

.ChannelList .ChannelItem {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
  font-size: 1rem;
}
